.navbar {
    background-color: #ccc;
    border-radius: 0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #333;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
hr {
    width: 95%;
    margin: 0 auto 0;
}
h1 {
    margin: 25px auto 25px;
}
h2 {
    margin: 15px auto 15px;
}
div.col-xs-12 {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #ccc;
}
/*#chicken {
    background-color: #f55;
}
#beef {
    background-color: #5f5;
}
#sushi {
    background-color: #55f;
}*/
