<!-- Jumbotron -->
<div class="jumbotron">
    <img src="images/jumbotron_768.jpg" alt="Picture of restaurant" class="img-responsive visible-xs" />
</div>

<!-- Home tiles -->
<div id="home-tiles" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#" onclick="$rp.loadCategories()">
            <div id="menu-tile">
                <span>Menu</span>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="#" onclick="$rp.loadMenu('SP')">
            <div id="specials-tile">
                <span>Specials</span>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <!-- Sharable link @GoogleMap -->
        <a href="https://www.google.se/maps/place/Herman+Krags+veg+1,+7050+Trondheim,+Norway/@63.4124607,10.4312394,19z/data=!3m1!4b1!4m5!3m4!1s0x466d31c9dbf81fa1:0xb67fc2768bf05d8d!8m2!3d63.4124607!4d10.4317866" target="_blank">
            <div id="map-tile">
                <!-- Embedded map @GoogleMap -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d446.4253765002902!2d10.431239429297278!3d63.412460698954305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d31c9dbf81fa1%3A0xb67fc2768bf05d8d!2sHerman+Krags+veg+1%2C+7050+Trondheim%2C+Norway!5e0!3m2!1sen!2sse!4v1506870779738" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                <span>Map</span>
            </div>
        </a>
    </div>
</div> <!-- End of #home-tiles -->
